.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin-bottom:15%; */
    z-index:1;
}

.MainBar {
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
}

.ListIcon, .MapIcon {
    display: inline-block;
    position: fixed;
    z-index: 10;
    bottom:0;
    font-size:300%;
    color:#276678;
    margin: 5% 7% ;

    border-radius: 50%;
    padding: 8px;
    background: #fff;
    border: 2px solid #276678;
    text-align: center;
}

.ListIcon {
    float: right;
    right: 0;
}

.MapIcon {
    float: left;
    left: 0;
}

.iconWidth {
    width: 10%;
}